.h2-text {
    color: white;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
}

.slogan {
    color: white;
}

.slogan-text {
    margin-top: 30px;
}

.col-lg-2{
    margin-top: 20px;
    margin-bottom: 50px;
}

.col-9 {
    color: white;
    margin-bottom: 50px;
}

.row {
    text-align: center;
    margin-bottom: 10px;
}

.main-container {
    min-height: 80vh;
}