#col {
  padding: 1rem;
  min-width: 28%;
  max-width: 30%;
  background-color: var(--darkGray);
  border-radius: 20px;
}

@media screen and (max-width: 990px) {
  #col {
    padding: 1rem;
    min-width: 28%;
    max-width: 88%;
    background-color: var(--darkGray);
    border-radius: 20px;
  }
}

#col:hover {
  transform: scale(1.1);
  z-index: 2;
}

.img-thumbnail {
  height: 200px;
}

.card-title {
  color: #e1e2e3;
  margin-left: 20px;
}

.card-name {
  color: #e1e2e3;
  margin-left: 20px;
}

.card-rating {
  color: #e1e2e3;
  margin-left: 20px;
}

.card-rating-number {
  color: #f7ab31;
}

.remove-link-decoration {
  text-decoration: none;
}

.main-container {
  min-height: 80vh;
}

.container-no-course {
  margin-top: 30px;
  text-align: center;
}

.no-course-found {
  color: white;
}
