.main-container {
    min-width: 80%;
}

.video-container {
    margin-bottom: 30px;
    min-width: 100%;
    min-height: 50%;
}

.info-container {
    width: 100%;
    height: 60%;
}

.h-font {
    font-size:40px;
    margin-left: 20px;
}

.description-container {
    max-width: 60%;
}

.course-description {
    font-size:22px
}

.course-info-text {
    color: white;
}

.date {
    margin-left: 25px;
}

.comment-form-container {
    padding: 0;
}

.comment-input {
    min-height: 50px;
    margin-right: 10px;
}

.comment-box {
    padding: 15px;
    background-color: var(--darkGray);
    border-radius: 20px;
}

.comment-box1 {
    border-right: gray 1px solid;
}

@media screen and (max-width:991px){
    .comment-box1 {
        border-right: none;
        margin-right: 10px;
    }
}

.comment-box2 {

}

.comment-username {
    /* text-align: center; */
    margin: 0 auto;
}

.comment-upload {
    padding-top: 10px;
    margin-top: 10px;
}

.comment-message {
    overflow-wrap: break-word;
}

.non-link {
    color: hotpink;
}

.non-link:hover {
    color:  hotpink;
}