h1 {
    color: white;
}

.col-md-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-12 {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 20px;
}

.col-md-3 {
    position: center;
    margin-bottom:40px;
}

.responsive {
    width: 100%;
    height: auto;
}
.frame {
    width: 100% !important;
    height: auto !important;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#col {
    padding: 1rem;
    min-width: 28%;
    max-width: 30%;
    background-color: var(--darkGray);
    border-radius: 20px;
  }
  
  @media screen and (max-width: 990px) {
    #col {
      padding: 1rem;
      min-width: 28%;
      max-width: 88%;
      background-color: var(--darkGray);
      border-radius: 20px;
    }
  }
  
  #col:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  .img-thumbnail {
    height: 200px;
  }
  
  .card-title {
    color: #e1e2e3;
    margin-left: 20px;
  }
  
  .card-name {
    color: #e1e2e3;
    margin-left: 20px;
  }
  
  .card-rating {
    color: #e1e2e3;
    margin-left: 20px;
  }
  
  .card-rating-number {
    color: #f7ab31;
  }
  
  .remove-link-decoration {
    text-decoration: none;
  }
  

  