.extra-mb {
    min-height: 50vh;
}

.login-form {
    max-width: 480px;
    margin: auto;
}

input[type="email"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type="password"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
}

.login-img {
    color: white;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.login-h1 {
    color: white;
}

.login-btn {
    background-color: var(--darkGray);
    color: white;
}

.login-btn:hover {
    border: white solid 1px;
    color: white
}

.login-error {
    color: red;
}
