:root {
    --royalPurple: #363159;
    --taupeBrown: #4B4559;
    --creamWhite: #BFAAAA;
    --beige: #A69898;
    --black: #0D0D0D;
    --gray: #45454A;
    --darkGray: #292B2D;
    --transpGray: rgba(41, 43, 45, 0.3);
    --white: #fff;
}

body {
    background-color: var(--gray) ;
}