body {
    background-color: var(--gray);
}

.main-container {
    min-height: 70vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar {
    background-color: var(--darkGray);
    color: #fff;
    height: 100%;
}

.sidebar a {
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: white;
    margin-top: 20px;
}

.login-error {
    color: red;
}