.extra-mb {
    min-height: 50vh;
}

.login-form {
    /* max-width: 500px; */
    margin: auto;
}

.login-img {
    color: white;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.login-error {
    color: red;
}

.radioLeft {
    padding-left: 15px;
    text-align: left;
}