.login-error {
    color: red;
    text-align: center;
}
.upload-succes{
    color: green;
    text-align: center;
}

.extra-margin {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}

.background-form {
    background-color: var(--transpGray);
}

.background-form {
    background-color: var(--transpGray);
}

.lastname-margin {
    margin-top: 32px;
}

.textarea-height {
    height: 50px;
}
.extra-margin {
    margin-top: 30px;
    line-height: 25px;
}

.msg-confirm {
    text-align: center;
    color: #00ff00;
    font-size: 20px;
}

.google-maps {
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.email-link {
    text-decoration: underline;
    color: #56B0D9;
}

.email-link:hover {
    color: #7ad2ff;
}

.main-container {
    min-height: 60vh;
}

.form-container {
    margin-top: 50px;
}